<div class="full-width">
    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 1 </p>
    </div>
    <div class="column-2 test">
        <p class="fx fx-justify-center white"> 2 </p>
    </div>

    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 3 </p>
    </div>

    <div class="column-4 test">
        <p class="fx fx-justify-center white"> 4 </p>
    </div>

    <div class="column-5 test">
        <p class="fx fx-justify-center white"> 5 </p>
    </div>

    <div class="column-6 test">
        <p class="fx fx-justify-center white"> 6 </p>
    </div>
    <div class="column-7 test">
        <p class="fx fx-justify-center white"> 7 </p>
    </div>
    <div class="column-8 test">
        <p class="fx fx-justify-center white"> 8 </p>
    </div>

    <div class="column-9 test">
        <p class="fx fx-justify-center white"> 9 </p>
    </div>

    <div class="column-10 test">
        <p class="fx fx-justify-center white"> 10 </p>
    </div>

    <div class="column-11 test">
        <p class="fx fx-justify-center white"> 11 </p>
    </div>

    <div class="column-12 test">
        <p class="fx fx-justify-center white"> 12 </p>
    </div>
</div>

<div class="full-width fx fx-wrap">
    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 1 </p>
    </div>
    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 2 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 3 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 4 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 5 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 6 </p>
    </div>
    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 7 </p>
    </div>
    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 8 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 9 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 10 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 11 </p>
    </div>

    <div class="column-1 test">
        <p class="fx fx-justify-center white"> 12 </p>
    </div>
</div>

<div class="full-width fx fx-wrap">
    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 1 </p>
    </div>
    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 2 </p>
    </div>

    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 3 </p>
    </div>

    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 4 </p>
    </div>

    <div class="column-3 test">
        <p class="fx fx-justify-center white"> 5 </p>
    </div>
</div>

<div class="full-width fx">
    <div class="column-6 test">
        <p class="fx fx-justify-center white"> 1 </p>
    </div>

    <div class="column-6 test">
        <p class="fx fx-justify-center white"> 2 </p>
    </div>
</div>

<div class="full-width fx">
    <div class="column-6 test">
        <p class="fx fx-justify-center white">
            Paragraf
        </p>
    </div>

    <div class="column-6 fx fx-justify-center fx-align-center">
        <div>
            <button>
                Test shop
            </button>
        </div>
    </div>
</div>

<div class="full-width fx">
    <div class="column-3 fx fx-justify-center yelow">
        1
    </div>

    <div class="column-9 fx fx-justify-center test white">
        2
    </div>
</div>