.blue {
    color: #0000ff;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
}

.red {
    color: #ff0000;
}

.yelow {
    color: #ffff00;
}

.green {
    color: #008000;
}

.gray {
    color: #808080;
}
