  
.container {
    width: 100%;
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .full-width {
    width: 100%;
    max-width: 100%;
  }
  
  //fxbox layout

  .fx {
    display: flex;
  }

  .fx-column {
    flex-direction: column;
  }

  .fx-align-center {
    align-items: center;
  }
  
  .fx-align-left {
    align-items: left;
  }

  .fx-align-right {
    align-items: right;
  }

  .fx-justify-center {
    justify-content: center;
  }

  .fx-justify-space-between {
    justify-content: space-between;
  }

  .fx-justify-space-around {
    justify-content: space-around;
  }

  .fx-justify-fx-start {
    justify-content: fx-start;
  }

  .fx-justify-fx-end {
    justify-content: fx-end;
  }

  .fx-wrap {
    flex-wrap: wrap;
  }

  .fx-align-content-center { 
    align-content: center;
  }

  .fx-align-content-fx-start { 
    align-content: fx-start;
  }

  .fx-align-content-fx-end { 
    align-content: fx-end;
  }

  //energosoftStrap column

    .column-12 {
      width: 100%;
    }

    .column-11 {
      width: 91.666%;
    }

    .column-10 {
      width: 83.333%;
    }

    .column-9 {
      width: 75.5%;
    }

    .column-8 {
      width: 66.666%;
    }

    .column-7 {
      width: 58.333%;
    }

    .column-6 {
      width: 50%;
    }

    .column-5 {
      width: 41.666%;
    }

    .column-4 {
      width: 33.333%;
    }

    .column-3 {
      width: 25%;
    }

    .column-2 {
      width: 16.666%;
    }

    .column-1 {
      width: 8.333%;
    }


