* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    outline: none;
    border: 0;
}

.table thead th {
    border: 0;
    border-bottom: 0;
    border-top: 0;
}

.table td {
    border-top: 1px solid #e8e8e8;
    vertical-align: unset;

    &:first-child {
        display: none;
    }
}

th {
    padding: 20px !important;
}

tr {
    transition: 0.3s;
    &:hover {
        background: #f3f7f9;
        cursor: pointer;
    }
}
.autocomplete-container {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
