$font-family-primary: "DejaVu Sans";
$font-family-secondary: "Lato", "sans-serif";

$lg: 1200px;
$md: 991px;
$sm: 769px;
$mb: 480px;

:root{
    // basic colors
    --blue : #0000FF;
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF0000;
    --yelow: #FFFF00;
    --green: #008000;
    --gray: #808080;

    --primary: blue; // change 

    // font-size
    --font-size-large: 18px;
    --font-size-primary: 16px;
    --font-size-small: 14px;


    




}
