  <header>
    <div>
      <h1>Inline Editable Table</h1>
    </div>
    <mat-icon (click)="toggleTheme()" title="Change theme">format_color_fill</mat-icon>
  </header>


  <form [formGroup]="userTable">
      <table  class="table table-border" [ngClass]="{'table-dark': mode}" >
        <thead class="text-nowrap" >
          <th>City_id <span class="ui-column-resizer" dragableColumn> </span></th>
          <th>City<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Last update<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Country<span class="ui-column-resizer" dragableColumn> </span></th>
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                <mat-form-field>
                  <input matInput type="number" formControlName="city_id">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="city">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput matInput [matDatepicker]="picker" formControlName="last_update">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
              <!-- <td>
                <mat-form-field>
                  <mat-select formControlName="bloodGroup">
                    <mat-option value="O+">O</mat-option>
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="AB">AB</mat-option>
                  </mat-select>
                </mat-form-field>
              </td> -->


              <td>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="countries"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'

                    [itemTemplate]="itemTemplate"
                   >
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.country"></a>
                  </ng-template>

                  <!-- <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template> -->
                  </div>
                <!-- <mat-form-field>
                  <input matInput type="text" formControlName="country_id">
                </mat-form-field> -->
              </td>


              <td>
                <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
              <td>
                {{group.get('city_id').value}}
              </td>
              <td>
                {{group.get('country').value}}
              </td>
              <td>
                  {{group.get('country_id').value}}
              </td>
              <td>
                  {{group.get('last_update').value}}
              </td>
              <!-- <td>
                {{group.get('mobNumber').value}}
              </td> -->
              <td>
                <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
        <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>
    <!-- <div class="output">
      <p>Form Data:  {{userTable.value | json}}</p>
        <p>Is Valid: {{userTable.valid}}</p>
    </div> -->

