header {
  background-color: #333;
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 0px;
}

mat-icon {
  cursor: pointer;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.table {
  padding: 10px;
  margin: 0;
}

.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1 solid #0a0a0a;
  border-right: 1  solid #0a0a0a;
}

// .output {
//   padding: 10px;
// }

.delete {
  color: rgb(236, 76, 76)  ;
}

.done {
  color: rgb(20, 219, 20);
}

.edit {
  color: rgb(2, 41, 32);
}
span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  padding: 10px;

}
