
.text-nowrap {
  background-color: #f3f7f9;
  color: #6c757d;
}
.add {
  background-color: rgb(236, 101, 101);
  color: white;
  margin: 10px;
}
.submit {
  background-color: rgb(108, 245, 149);
  color: white;
  margin: 10px;
}

mat-icon {
  cursor: pointer;
}


.card-header {
  // margin: ;
  display: fx;
  position: relative;
  height: 4rem;
  // background-color: rgb(230, 158, 252);
  margin: 10px;
  // width: 1300px;
  .title {
    fx: 1;
    font-size: 30px;
    text-align: center;
    color: white;
  }

  .action-container {
    // fx: 2;
    // position: absolute;
    // top: 0;
    // right: 0.5rem;

  }


}


form {
  background: white;
  padding: 50px 50px 30px 50px;
  border-radius: 20px;
  box-shadow: 0 0.85rem 8rem rgba(56,65,74,.03);
}

.table {
  padding: 10px;
  margin: 0;
  
  // border-radius: 15px;
  // border-bottom: 1px solid black;
}

.table tbody tr td,
.table thead th,
.table thead {
  // border-left: 1 solid #3d3b3b;
  // border-right: 1  solid #3d3b3b;
}


tbody {
  background: white;
}


.delete {
  color: rgb(236, 76, 76)  ;
}

.done {
  color: rgb(20, 219, 20);
}

.edit {
  color: rgb(2, 41, 32);
}
span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  padding: 10px;
}

.container {
  height: 100%;
  width: 100%;
  background: #f5f6f8;
  padding: 50px;
  @media(min-width: 1140px){
    max-width: 1920px;
  }
}


 

